@import 'mixins';
$twitchColor: #6441a4;
body {
    max-width: 768px;
    margin: auto;
}

ul.nav {
    &.nav-justified > li {
        @include piccolo {
            float: left;
            width: 49%;
        }
        &.active > a {
        	background-color: $twitchColor !important;
        }
    }
}

div.panel-default {
    border-color: $twitchColor;
    .panel-heading {
        background-color: $twitchColor;
        h2.panel-title {
            color: white;
        }
    }
}

div.tab-content {
    @include medio {
        border: 1px solid $twitchColor;
    }
    div#canali.tab-pane {
        @include medio {
            max-width: 70%;
            margin: auto;
        }
    }
}

img.img-responsive.img-circle {
    max-width: 75px;
    margin-bottom: 10px;
}
